<div class="iscpage">
    <!-- <nav class="" style="padding: 8px; background-color:#302c2c">
        <div class="container-fluid" style="display: flex; justify-content: space-between;">
            <div>
                <a href="#!/iscpage"><img src="../../assests/iscifylogo.png" alt="" style="height: 36px; width: 81px; margin-left: 0px;" ng-click="backhome()"></a>
            </div>
            <div>
                
            </div>
            <div>
                <button class="signoutBtn">
                    <a href="#" class="signout" ng-click="logout()">Signout</a>
                    <img src="../../assests/logout.png" alt="" style="width: 24px; height: 24px;">
                </button>
               
            </div>
            
    
        </div>
      </nav> -->
      <!-- <div style="background-color: rgb(236 231 255); height: 91vh;"> -->
      
    <div style="display: flex; justify-content: flex-end;">
       <a href="#"  ng-click="logout()"><img src="../../assests/logout.png" alt="" style="width: 32px; height: 32px; margin-right: 15px;"></a>
    </div>
    <div class="iscpage_img">
        <div style="display: flex; flex-direction: column;" ng-click="imageresizer()">
            <a href="#!/mainpage">
            <img src="../../assests/imageresizer.png" alt="">
            <p style="text-align: center;">Image Resizer</p>
        </a>
        </div>
        <div style="display: flex; flex-direction: column;" ng-click="screenrecorder()">
            <a href="#!/mainpage">
        <img src="../../assests/screenrecorder.png" alt="">
        <p style="text-align: center;">Screenrecorder</p>
    </a>
        </div>
        <div style="display: flex; flex-direction: column;" ng-click="clipboard()">
        <a href="#!/mainpage">
        <img src="../../assests/clipboard.png" alt="">
        <p style="text-align: center;">Clipboard</p>
    </a>
        </div>
    </div>
</div>
</div>