
@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../renderer/component/landingpage/landing.css');
@import url('../renderer/component/loginpage/login.css');
@import url('../renderer/component/registerpage/register.css');
@import url('../renderer/component/iscpage/iscpage.css');
@import url('../renderer/component/mainpage/mainpage.css');


body{
    user-select: none;
    overflow: hidden;
    background-color: rgb(236 231 255)
}
.titlebar{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 10px;
}
.fortitlebar div{
    padding: 0 15px;
    cursor: pointer;
}
.fortitlebar .first:hover{
 color: red;
}
.fortitlebar .second:hover{
  color: rgb(117, 117, 117);
}


.active-page{
    color: black;
}
.disactive-page{
    color: rgb(75, 128, 224) ;
}
