<div class="landing-page">
    
    <div class="col-lg-12" style="display: flex; flex-direction:row; width: 100%;">
        <div class="col-lg-6 landing-page-image-all">
            <div class="landing-page-image">
                <div style="text-align: center; width: 55%; padding-top: 70px;">
                    <img src="../../assests/pngiscifylogo.png" alt="" class="logoimg">
                </div>
                
                <div class="forlandingimage">
                    <div>
                        <img src="../../assests/imageresizer.png" alt="">
                    </div>
                    <div>
                        <img src="../../assests/screenrecorder.png" alt="">
                    </div>
                    <div>
                        <img src="../../assests/clipboard.png" alt="">
                    </div>
                </div>
                <!-- <img src="../../assests/imageresizer.png" alt="" class="landing-one">
        <img src="../../assests/screenrecorder.png" alt="" class="landing-two">
        </div>
        <div>
            <img src="../../assests/clipboard.png" alt="" class="landing-three">
        </div>
         -->
            </div>
        </div>
        <div class="landing-page-btns col-lg-6" style="height: 94vh;">
            <h3>Welcome</h3>
            <p>Login to your account to continue</p>
            <div style="display: flex; flex-direction: column;" class="loginBtns">
                <a href="#!/login" class="btn" ng-click="redirectLogin()">Login</a>
                <a href="#!/register" class="btn" ng-click="redirectregister()">Register</a>
            </div>

        </div>
    </div>
</div>